* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    padding: 0.5em;
	background-color: #111;
	color: antiquewhite;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	margin: 2rem;
}


.cell {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 2px solid rgb(65, 64, 64);
	border-radius: 4px;
    margin: 2px;
	font-size: 2rem;
	padding: 10px;
	font-weight: bolder;
	overflow: hidden;
}

.correct-cell {
	background-color: rgba(115, 204, 122, 0.596);
	border: 2px solid rgb(255, 255, 255);
	color: black;
}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(97, 97, 97);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
#modal-h1 {
    color: black;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(97, 97, 97);
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

